{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <!--
    <h1 align="center">Notes</h1>
    <ul class="list-group list-group-flush" id="notes">
      
    </ul>
    <form method="POST">
      <textarea name="note" id="note" class="form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
      </div>
    </form>
  -->


  <!-- <div class="body1">
    <h1>Fotomodele</h1>
  </div> -->

  <div class="slider">
    <div class="slides">
      <input type="radio" name="radio_btn" id="radio1">
      <input type="radio" name="radio_btn" id="radio2">
      <input type="radio" name="radio_btn" id="radio3">
      <input type="radio" name="radio_btn" id="radio4">

      <div class="slide first">
        <img src="https://images.pexels.com/photos/428340/pexels-photo-428340.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
      </div>

      <div class="slide">
        <img src="https://images.pexels.com/photos/837140/pexels-photo-837140.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
      </div>

      <div class="slide">
        <img src="https://images.pexels.com/photos/1034859/pexels-photo-1034859.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
      </div>

      <div class="slide">
        <img src="https://images.pexels.com/photos/318236/pexels-photo-318236.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
      </div>

      <div class="navigation-auto">
        <div class="auto_btn1"></div>
        <div class="auto_btn2"></div>
        <div class="auto_btn3"></div>
        <div class="auto_btn4"></div>
      </div>

    </div>
    <div class="navigation-manual">
      <label for="radio1" class="manual-btn"></label>
      <label for="radio2" class="manual-btn"></label>
      <label for="radio3" class="manual-btn"></label>
      <label for="radio4" class="manual-btn"></label>
    </div>

  </div>
<!--
  <table class="table">
    <thead class="thead-dark">
      <td><b>ID</b></td>
      <td><b>nume</b></td>
      <td><b>prenume</b></td>
      <td><b>cnp</b></td>
      <td><b>sex</b></td>
      <td><b>strada</b></td>
      <td><b>numar</b></td>
      <td><b>oras</b></td>
      <td><b>judet</b></td>
    </thead>
    {% for i in range(0, vector|length):%}
      <tr>
        <td>{{vector[i][0]}}</td>
        <td>{{vector[i][1]}}</td>
        <td>{{vector[i][2]}}</td>
        <td>{{vector[i][3]}}</td>
        <td>{{vector[i][4]}}</td>
        <td>{{vector[i][5]}}</td>
        <td>{{vector[i][6]}}</td>
        <td>{{vector[i][7]}}</td>
        <td>{{vector[i][8]}}</td>
      </tr>
    {% endfor %}
  </table>
-->



    {% endblock %}